.homepage {
  padding: 20px;
}

.search-bar-container {
  margin-bottom: 20px;
}

.crop-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.crop-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.crop-item h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.crop-item p {
  font-size: 14px;
  color: #666;
}

.language-selector {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
}

.language-selector button {
  background-color: #1c606f; /* Match with your header color */
  color: #ffffff; /* Light text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.language-selector button:hover {
  background-color: #0f232f; /* Slightly lighter shade for hover */
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.language-selector button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff; /* Highlight the button when focused */
}
