.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f8f8f8; /* Optional: Add a background color to the search bar container */
  padding: 5px; /* Optional: Add padding around the search bar */
  border-radius: 15px; /* Optional: Add border radius to the container */
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 3px solid #081525;
  border-radius: 15px;
  font-size: 16px;
  outline: none; /* Remove default outline on focus */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for border color and shadow */
}

.search-bar input:focus {
  border-color: #33c041; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(51, 192, 65, 0.5); /* Add shadow effect on focus */
}

.search-bar button {
  padding: 10px;
  margin-left: 10px;
  border: 2px solid rgb(6, 11, 34);
  border-radius: 15px;
  background-color: #33c041;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and transform */
}

.search-bar button:hover {
  background-color: #45a049; /* Darker button color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}
